div.gallery-page-container{
    background-color: var(--color-background);
   width:100vw;
   height:100vh;
   overflow-y:auto;
   padding-left: -40px;
   

}

.card.info{
    float:left;
}
.tester{
    color:white;
}



