@tailwind base;
@tailwind components;
@tailwind utilities;


.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-background);
  overflow-x: hidden;
  overflow-y:hidden;
}
.homepage-containeroffen {
  top: 605px;
  left: 659px;
  width: 100px;
  height: 96.15625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

/* Add styling to collapsible category selection element*/


label {
  font-family: Fira Sans;
  margin-left:12px;
  font-size:16px;
  cursor:pointer;
}

input{
  margin-left: 4px;
  margin-top:10px;
  margin-bottom:10px;
}

/*hide the browser custom input forms*/
/*[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    line-height: 10px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: hotpink;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
*/

.animation-trigger-button{
  background-color: var(--color-button);
  
  z-index: 50;
  position: absolute;
  top:2vh;
  right:1vw;
  text-align:center;
  color:white;
  margin-left:0;
  padding-top: 7px;
  padding-left:10px;
  padding-bottom: 7px;
  padding-right:10px;
  border-radius:4px;
  z-index:10000;
  font-size:16px;
  font-weight: bold;
  
  
}
.animation-trigger-button-active{

    background-color: var(--color-button-hover);
  
}

.animation-trigger-button:hover{
  cursor:pointer;
  background-color: var(--color-button-hover);
}

.animation-trigger-button span{
  color: white;
}

body {
  height:100vh;
  width:100vw;
  overflow-y:hidden;
  overflow-x: hidden;

  max-width:100%;
}