.footer_2-container {
  width: 1200px;
  height: 64px;
  display: flex;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:78vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:auto;
  min-height:50px;
}
.footer_2-container1 {
  /*flex: 0 0 auto;*/
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction:row;
  color:white;
  font-size:24px;
}
.footer_2-link {
  position: flex;
  align-self: center;
  text-align: center;
  margin-left: var(--dl-space-space-fiveunits);
}
.footer_2-root-class-name {
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: static;
  align-self: center;
  margin-top: 87vh;
}
