.card.info{
    box-shadow: 0 4px 8px rgba(255,255,255,0.8);
    background-color: var(--color-background-detail);
    transition:0.3s;
    border-radius:10px;
    width:600px;
    padding:10px;
    margin:auto;
    margin-left:5%;
    z-index: 800;
    height:500px;
    justify-content: center;
    position:relative;
 

}
.card.info:hover{
    box-shadow:0 8px 16px 0 rgba(255,255,255,0.8)
}

.card.info.science{
    background-color: var(--color-science-blue);
  }

  .card.info.medicine{
    background-color: var(--color-medicine-white);
  }

  .card.info.human{
    background-color: var(--color-human-pink);
  }

  .card.info.politics{
    background-color: var(--color-politics-red);
  }
  .card.info.other{
    background-color: var(--color-other-light-blue);
  }



.card.info.medicine{
    background-color: #c5cbd3;
}

.row{
    position: absolute;
    background-color:hsl(169, 100%, 98%) ;
    padding:0;
    border-radius:10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height:90%;
    
}

.column{
    float:left;
    width:50%;
    padding:3px;
    max-height: 400px;
    
}
.row::after{
    content:'';
    clear:both;
    display:table;
    

}


.content{
    background-color: hsl(169, 100%, 98%);
    padding:5px;
    border-radius:10px;
    max-height:400px;
    
}
.description {
    text-transform: none;
    letter-spacing:0;
    text-align: left;
    overflow-y: auto;
    overflow-x:hidden;
}
/* Custom Scrollbar 
::-webkit-scrollbar{
    width:auto;
}


::-webkit-scrollbar-track{
    background:#f1f1f1;
}
::-webkit-scrollbar-thumb{
    background:#c5cbd3;
    border-radius:5px;
}

::-webkit-scrollbar-thumb:hover{
    background:#c9d7f8 ;
} 
*/
p{
    color:black;
    font-size:1rem;
    line-height: 1.2;
    margin: 3px 3px 5px 3px;
    font-family: Fira Sans;
    max-height: 300px;

}

.header{
    font-size:1.8rem;
    color:var(--dl-color-header);
    font-family: Fira Sans;
    max-height:20px;
}

/* Styling the Link*/
.link{
    font-size:20px;
    color:var(--dl-color-header);
    position: relative;
    margin-left:3px;
    font-family: Fira Sans;
}
.link-box{
    width: 100%;
}
.link::after {
    content:'→';
    opacity: 0;  
    transition: 0.5s;
    color:var(--dl-color-header);
    display:inline;

  }



.link:hover::before{
   transform: scale(1); 
   padding-left: 5px;
}

.link:hover{
    padding-right:10px;
    text-underline-position: below;
    border-bottom: 1px solid;
  }

.link:hover:after {
    opacity: 1;
    right: 10px;
  }

  .image{
    width:300px;
    height:300px;
  }

.card-image{
    max-width:250px;
    width:100%;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    border-radius:10%;
    margin-top:20%;

}





